body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.link-header {
  text-decoration: none;
  padding: 15px;
  background-color: white;
  color: black;
  border-radius: 2%;
  width: 70px;
  text-align: center;
}

.link-header:hover {
  text-decoration: none;
  padding: 15px;
  background-color: #2E7D32;
  color: white;
  border-radius: 2%;
  width: 70px;
  text-align: center;
}

.search-form {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-results {
  text-align: center;
  font-size: 20px;
}

.searched-artist {
  font-weight: bold;
}

.album-image {
  align-self:stretch;
  border: 1px solid white;
}

.album-link {
  text-decoration: none;
  padding: 15px;
  background-color: #FFFFFF;
  color: black;
  align-items: baseline;
}

.artist-name, .collection-name {
  font-weight: bold;
  text-align: center;
  color: white;
}

.artist-name {
  margin-bottom: 10px;
  color: white;
}

.trybe-logo {
  width: 100px;
}

.trybe-logo1 {
  width: 80px;
  margin-left: -20px;
}

.trybe-logo-header {
  width: 80px;
  margin-left: -20px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: -50px;
}

.logo-name {
  font-size: 26px;
  font-style: bold;
  margin-left: -10px;
}

.musics-div {
  display: flex;
  width: 95%;
  margin: 0 auto;
  padding: 15px;
  flex-direction: row;
  flex-wrap: wrap;
}

.album-info-div {
  display: flex;
  padding: 15px;
  flex-direction: column;
  width: 400px;
  height: 600px;
  flex-wrap: wrap;
}

.musics-div2 {
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

@media only screen and (max-width: 600px) {
  .musics-div2 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .musics-div3 {
    justify-content: center;
    align-items: center;
  }

  .musics-div {
    justify-content: center;
    align-items: center;
  }
}

.musics-div3 {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  gap: 20px;
}

.collectionArt {
  width: 400px;
}

.artistNameAlbum {
  text-align: center;
  font-size: 20px;
  font-style: bold;
}

.eachMusic {
  padding: 15px;
  text-align: center;
  width: 295px;
  height: 200px;
  background-color: #2E7D32;
  color: white;
  border: 20px solid white;
  border-radius: 8%;
}